/* Color Palette:
Navy Blue: #18121E
Gunmetal: #233237
Rusty Red: #984B43
Warm Yellow: #EAC67A
Light Gray: #D1D1D1
*/

/* Fonts:
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
*/

/* Global Styles */
html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body {
   color: #D5B46F;
   font-family: 'Open Sans Condensed', sans-serif;
margin: 0; 
    
     
}
.content-wrap{
    max-width: 950px;
    margin: 0 auto;
    padding = 50px;
    overflow:auto; 
}
.col-narrow{
    width: 30%;
    float: left;
    min-height: 175px; 
}
.col-wide{
    width: 70%;
    padding-left: 20px;
    float: left;
    min-height: 175px; 
}

h1, h2{
        font-family: 'Roboto Slab', serif;
    
}
h1{
    margin: 0 auto; 
    font-size: 2.5em; 
}

h2{
    margin-top:0 auto; 
    font-size: 2em; 
}
h2, p{
    margin: 0 auto; 
}

a{
    padding: 10px;
    color: #D1D1D1
}
a:hover{
    text-decoration: none; 
}

/* Header and Footer */
header, footer {
    
    background: #18121E;
    
}
header h1, header h2{
    color:#E8E8E8;
    margin: 0 auto; 

}
/* Header */
.profile-picture{
border-radius: 50%; 
padding: 10px;
float: left;


}


/* Footer */ 
footer{
    text-align: center; 
}

.contact-info a{
    padding: 20px; 
    display: inline-block;
}

/* Work Experience */

.work{
    padding: 10px;
    background: #77878B;
}

/* Education */ 

.education{
    padding: 10px;
    background: #233237;
}
